<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML" />
    <meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />

    <script src="~/tinymce/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
</head>
<body>
    <div id="templatemo_container">
        <div id="templatemo_menu">
            <ul>
                <li>@Html.ActionLink("TRANG CHU", "Index","Admin")</li>
                <li>@Html.ActionLink("QUAN LY CHU DE", "Sanpham", "Admin")</li>
                <li>@Html.ActionLink("QUAN LY NHA XUAT BAN", "Nhaxuatban", "Admin")</li>
                <li>@Html.ActionLink("QUAN LY SACH", "Sach", "Admin")</li>
                @*<li><a href="#">Company</a></li>
                    <li><a href="#">Contact</a></li>*@
            </ul>
            </div> <!-- end of menu -->
            <div>
                @RenderBody()
            </div>
        </div>
</body>
</html>
