@model MVCBookStore.Models.SACH

@{
    ViewBag.Title = "ThemmoiSach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÊM SÁCH MỚI</h2>
@* Them thuoc tinh cho form de upload hinh anh *@
@using (Html.BeginForm("Themmoisach", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SACH</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Tensach, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tensach)
                @Html.ValidationMessageFor(model => model.Tensach)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Donvitinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Donvitinh)
                @Html.ValidationMessageFor(model => model.Donvitinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dongia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dongia)
                @Html.ValidationMessageFor(model => model.Dongia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Mota">Mô tả thông tin sách</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hinhminhhoa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaCD, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaCD")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNXB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("MaNXB")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaycapnhat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="Ngaycapnhat" />
                @Html.ValidationMessageFor(model => model.Ngaycapnhat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soluongban, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongban)
                @Html.ValidationMessageFor(model => model.Soluongban)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solanxem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solanxem)
                @Html.ValidationMessageFor(model => model.solanxem)
            </div>
        </div>

        <div class="form-group">
           <div class="col-md-offset-2 col-md-10">
               <input type="submit" value="THÊM MỚI" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("VỀ TRANG QUẢN LÝ SÁCH", "Sach")
</div>
